.results__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  


.row {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }