body {
  --light: #a239ca;
  --dark: #4717f6;
}

html {
  scroll-behavior: smooth;
  background-color: #0e0b16;
}

.light {
  color: var(--light);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect--white:after {
  background-color: #e7dfdd;
}

.link__hover-effect--light:after {
  background-color: var(--light);
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
